/*background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);*/

/*background: linear-gradient(to right, #999966 -36%, #666699 128%);*/

/*background-image: linear-gradient(to right, #434343 0%, black 100%);*/

body{
	background-image: url('../images/bg(1).jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .1rem;
}

/*Navbar*/
#navbar {
	background-color:  #141f1f;
	box-shadow: 0 4px 2px -2px black;
}

#logo-txt {
	font-family:'Tulpen One', cursive;
	font-size: 50px;
}
/*Navbar*/

/*Homepage*/ 

#caroSel {
	margin-top: 10vh;
}


.carousel-item{
	height: 85vh;
	padding: 0;
}

.carousel-item  img {
	height: 100%;
	width: 220vh;

}

.card img{
	height: 40vh;
	width: 50vh;
}

#card {
	margin-bottom: 5vh;
}

#product {
	padding: 5vh;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

#prd-img, #desc {
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
}

#prd-img {
	border: 5px inset black;
	padding: 0;
	height: 50%;
	box-shadow: 0 4px 2px -2px black;
}

#desc {
	padding-top: 5vh;
	padding-left: 50px;
	padding-right:50px;

}

#bg, #desc{
	background-color: hsla(0, 10%, 10%, 0.8);
	border-radius: 15px;
	box-shadow: 0 4px 2px -2px black;

}

#about-desc {
	background-color: hsla(0, 10%, 10%, 0.8);
	box-shadow: 0 4px 2px -2px black;
}


/*About*/
#margin{
	margin-top: 14vh;
}

#title {
	height: 30vh;
	text-align: center;
	background-color: hsla(0, 10%, 10%, 0.8);
	padding-top: 10vh;
	box-shadow: 0 4px 2px -2px black;
}


.nav-product li{
	border-bottom:1px outset grey;
	margin-bottom: 3px;
}

.nav-product h3 {
	border-bottom:1px solid grey;
	margin-bottom: 5vh;
}


i {
	font-size: 10vh;
}

#contact {
	background-image: url('../images/bg.gif');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

#about-img {
	background-image: url('../images/connect.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}